2 Alignment/SuperGluePretrainedNetwork-master/demo_superglue.py
2 Alignment/SuperGluePretrainedNetwork-master/LICENSE
2 Alignment/SuperGluePretrainedNetwork-master/match_pairs.py
2 Alignment/SuperGluePretrainedNetwork-master/README.md
2 Alignment/SuperGluePretrainedNetwork-master/requirements.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_matches.gif
2 Alignment/SuperGluePretrainedNetwork-master/assets/indoor_evaluation.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/indoor_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/magicleap.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/megadepth_train_scenes.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/megadepth_validation_scenes.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/outdoor_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_pairs.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_test_pairs_original.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_test_pairs.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_pairs_with_gt.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_test_pairs_with_gt.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/teaser.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/yfcc_test_pairs_with_gt_original.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/yfcc_test_pairs_with_gt.txt
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847980.722988.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847981.726650.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847982.730674.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847983.738736.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847984.743352.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847985.746954.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847986.762616.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847987.758741.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847988.769740.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847989.802890.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847990.810771.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847991.814748.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847992.818723.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847993.826735.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847994.866828.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847995.870641.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/freiburg_sequence/1341847996.874766.png
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/london_bridge_19481797_2295892421.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/london_bridge_49190386_5209386933.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/london_bridge_78916675_4568141288.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/london_bridge_94185272_3874562886.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/piazza_san_marco_06795901_3725050516.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/piazza_san_marco_15148634_5228701572.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/piazza_san_marco_18627786_5929294590.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/piazza_san_marco_43351518_2659980686.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/piazza_san_marco_58751010_4849458397.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/st_pauls_cathedral_30776973_2635313996.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/st_pauls_cathedral_37347628_10902811376.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/united_states_capitol_26757027_6717084061.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/phototourism_sample_images/united_states_capitol_98169888_3347710852.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0711_00_frame-001680.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0711_00_frame-001995.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0713_00_frame-001320.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0713_00_frame-002025.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0721_00_frame-000375.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0721_00_frame-002745.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0722_00_frame-000045.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0722_00_frame-000735.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0726_00_frame-000135.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0726_00_frame-000210.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0737_00_frame-000930.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0737_00_frame-001095.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0738_00_frame-000885.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0738_00_frame-001065.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0743_00_frame-000000.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0743_00_frame-001275.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0744_00_frame-000585.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0744_00_frame-002310.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0747_00_frame-000000.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0747_00_frame-001530.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0752_00_frame-000075.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0752_00_frame-001440.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0755_00_frame-000120.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0755_00_frame-002055.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0758_00_frame-000165.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0758_00_frame-000510.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0768_00_frame-001095.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0768_00_frame-003435.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0806_00_frame-000225.jpg
2 Alignment/SuperGluePretrainedNetwork-master/assets/scannet_sample_images/scene0806_00_frame-001095.jpg
2 Alignment/SuperGluePretrainedNetwork-master/models/__init__.py
2 Alignment/SuperGluePretrainedNetwork-master/models/matching.py
2 Alignment/SuperGluePretrainedNetwork-master/models/superglue.py
2 Alignment/SuperGluePretrainedNetwork-master/models/superpoint.py
2 Alignment/SuperGluePretrainedNetwork-master/models/utils.py
2 Alignment/SuperGluePretrainedNetwork-master/models/weights/superglue_indoor.pth
2 Alignment/SuperGluePretrainedNetwork-master/models/weights/superglue_outdoor.pth
2 Alignment/SuperGluePretrainedNetwork-master/models/weights/superpoint_v1.pth
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0711_00_frame-001680_scene0711_00_frame-001995_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0711_00_frame-001680_scene0711_00_frame-001995_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0713_00_frame-001320_scene0713_00_frame-002025_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0713_00_frame-001320_scene0713_00_frame-002025_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0721_00_frame-000375_scene0721_00_frame-002745_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0721_00_frame-000375_scene0721_00_frame-002745_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0722_00_frame-000045_scene0722_00_frame-000735_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0722_00_frame-000045_scene0722_00_frame-000735_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0726_00_frame-000135_scene0726_00_frame-000210_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0726_00_frame-000135_scene0726_00_frame-000210_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0737_00_frame-000930_scene0737_00_frame-001095_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0737_00_frame-000930_scene0737_00_frame-001095_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0738_00_frame-000885_scene0738_00_frame-001065_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0738_00_frame-000885_scene0738_00_frame-001065_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0743_00_frame-000000_scene0743_00_frame-001275_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0743_00_frame-000000_scene0743_00_frame-001275_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0744_00_frame-000585_scene0744_00_frame-002310_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0744_00_frame-000585_scene0744_00_frame-002310_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0747_00_frame-000000_scene0747_00_frame-001530_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0747_00_frame-000000_scene0747_00_frame-001530_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0752_00_frame-000075_scene0752_00_frame-001440_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0752_00_frame-000075_scene0752_00_frame-001440_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0755_00_frame-000120_scene0755_00_frame-002055_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0755_00_frame-000120_scene0755_00_frame-002055_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0758_00_frame-000165_scene0758_00_frame-000510_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0758_00_frame-000165_scene0758_00_frame-000510_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0768_00_frame-001095_scene0768_00_frame-003435_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0768_00_frame-001095_scene0768_00_frame-003435_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0806_00_frame-000225_scene0806_00_frame-001095_matches.npz
2 Alignment/SuperGluePretrainedNetwork-master/dump_match_pairs/scene0806_00_frame-000225_scene0806_00_frame-001095_matches.png
2 Alignment/SuperGluePretrainedNetwork-master/models/__pycache__/__init__.cpython-37.pyc
2 Alignment/SuperGluePretrainedNetwork-master/models/__pycache__/matching.cpython-37.pyc
2 Alignment/SuperGluePretrainedNetwork-master/models/__pycache__/superglue.cpython-37.pyc
2 Alignment/SuperGluePretrainedNetwork-master/models/__pycache__/superpoint.cpython-37.pyc
2 Alignment/SuperGluePretrainedNetwork-master/models/__pycache__/utils.cpython-37.pyc
